h1 {
    word-break: break-all;
}

main {
	min-height: 55vh;
}

.card {
	height: 100%;
}

.card-body {
	overflow: auto;
}

p.msg {
    display: none;
}

span.badge:not(.badge-danger), .form-check-label {
	cursor: pointer;
}

