h1 {
    word-break: break-all;
}

main {
	min-height: 70vh;
}

.card {
	height: 100%;
}

.card-body {
	height: 1px; /* Dziki trick, to trzeba jakoś naprawić */
	overflow-x: hidden;
	overflow-y: auto;
}

.autosize {
	height: calc(100% - 54px);
}

#settingsCog {
	width: 16px;
	height: 16px;
	margin-top: 4px;
	float: right;
	background: url('../img/settings.png') center center no-repeat;
}

#settingsCog:hover {
	background: url('../img/settings_hover.png') center center no-repeat;
}

p.msg {
    display: none;
}

span.badge:not(.badge-danger), .form-check-label, #settingsCog {
	cursor: pointer;
}

@media (max-width: 768px) {
	main {
		min-height: 90vh;
	}
	
	.hidden {
		display: none;
	}
}